.container{
    background-color: aqua;
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}

.innerContainer{
    background-color: red;
    width: 300px;
    height: 180px;
}